
/* Adapts to changes in web-browser */

@media screen and (max-width: 768px) {
  .navbar img {
    width: 240px;
    height: 100px;
  }

}

@media screen and (max-width: 710px) {
    .navbar .navContainer {
      display: block;
      margin: 0px;
    }
    .navbar div a {
      display: none;
    }
    .navbar div.icon {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      margin: 20px;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 710px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive div a {
      float: none;
      display: block;
      text-align: center;
      width: 110px;
      margin: 15px auto;
    }
    .navbar.responsive {float: none;}
    .navbar.responsive {position: relative;}
    .navbar.responsive {
      display: block;
      width: 100%;
    }
    .navbar img {
      margin: 5px;
      width: 240px;
      height: 100px;
    }
    .login {
      margin: 25px auto !important;
      padding: 5px !important;
    }
    .subnav {
      position: fixed;
      width: 100%;
      background-color: $green;
      top: 110px;
    }
  }